
.about-web-container {
    /* background: #e7717d; */
    display: grid;
    grid-template-rows: minmax(90vh,min-content);
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-areas: ". webpara .";
    
}

.about-web-container div {
    margin: 5rem 0;
    grid-area:  webpara;
    letter-spacing: 0.1rem;
    font-size: var(--font-content-size);
    color: white;
    
    /* background: lightgreen; */

}
