*{
  margin: 0;
  padding: 0;
  border: 0;
}
html{
  font-size: 62.5%;
}
.app-container {
display: grid;
grid-template-rows: 10vh minmax(90vh,min-content);
background: #59253a;
color: #fbeec1;

}
.navbar {
  background: #116466;
  color: #fbeec1;
}
.app-view{
  /* background: lightslategrey; */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
:root {
  --font-heading:'Raleway', sans-serif;
  --font-content:'Open Sans', sans-serif;
  --font-heading-size: 1.1rem;
  --font-content-size : 1.5rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}